* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  text-transform: capitalize;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#9198e5, #e66465);
}

h1 {
  font-size: 2.5rem;
}

a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
button {
  background-color: #008891;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  transition: all 0.3s;
}
button:hover {
  background-color: rgb(79, 160, 133);
}

.main-head {
  background-color: #0f3057;
  background: url("spacex-693229_1280.jpg");
  background-position: center;
  color: white;
  position: sticky;
  width: 95%;
  margin: auto;
  top: 0px;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 88, 122, 0.6);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  transition: all 0.4s;
}
nav {
  flex-wrap: wrap;
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  color: white;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
#logo {
  flex: 1 1 40rem;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  word-spacing: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.home {
  min-height: 90vh;
}
.one {
  min-height: 100vh;
}
.one p {
  font-size: 100px;
}
.about {
  min-height: 100vh;
  background: white;
}
.contact {
  min-height: 100vh;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("satellite-3977165_1920.jpg"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}
.heart {
  display: flex;
  text-align: center;
}
.heart span img {
  padding: 0px 30px 15px 30px;
}
.contact h2 {
  padding-top: 2rem;
}
.contact header h3 {
  padding-bottom: 2rem;
  align-items: flex-start;
  margin: 0;
  color: white;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.9);
  width: 50%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}
.form-wrapper label {
  padding: 0rem 4rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 2rem;
}
form button {
  font-size: 3rem;
}

.cards {
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 60vh;
  align-items: center;
  flex-wrap: wrap;
}
.cards img {
  max-width: 15%;
  margin: 1rem;
}
.card h4,
.card p {
  padding: 2rem;
}
.card {
  flex: 1 1 30rem;
  min-height: 50vh;
  margin: 10rem 5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card h1 {
  color: white;
  transition: all 0.3s;
}
.card:hover h1 {
  opacity: 0;
  transition: all 0.1s;
}
#card1 {
  position: relative;
  transition: all 0.3s;
}
#card1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#card1:hover {
  transform: scale(1.1);
}

#card1 p {
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  margin-top: -2rem;
  opacity: 0;
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
  text-align: center;
}
#card1:hover p {
  opacity: 1;
  transition: all 0.3s;
}

.card-icon {
  background-color: #27374b;
}
#card2 {
  background: url("usa-532939_1920.jpg")
    no-repeat center;
  background-size: cover;
  transition: all 0.3s;
  color: white;
  display: flex;
  flex-direction: column;
}

#card2 h1 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#card2 {
  background-color: aliceblue;
}

#card2 p {
  margin-top: 5rem;
  transition: all 0.3s;
  opacity: 0;
}
#card2 h1 {
  color: white;
  position: absolute;
}
#card2:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
#card2:hover p {
  background-color: rgba(130, 130, 214, 0.3);
  transition: all 0.3s;
  text-align: center;
  font-size: 2rem;
  opacity: 1;
}

#card3 {
  background: url("rocket-1245696_1920.jpg")
    no-repeat center;
  background-size: cover;
  transition: all 0.3s;
  position: relative;
}
#card3:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
#card3 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#card3 p {
  opacity: 0;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#card3:hover p {
  opacity: 1;
}
.about {
  position: relative;
  color: white;
  font-family: "popins";
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("pexels-pixabay-33153.jpg") no-repeat
      center;
  background-size: cover;
}

.about-text p {
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 40%;
  padding: 2rem;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
}
.about-text h1
{
  font-size: 4rem;
  top: 15%;
  left: 15%;
  position: absolute;
}
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
.footer-wrapper h5 {
  font-size: 4rem;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 914px) {
  nav h1 {
    
    text-align: center;
    padding: 2rem;
  }
}
